h1 {

	text-align: center;
	font-size: 56px;
	font-family: "Courier New";
	color: #708090;
	background-color: #E6E6FA;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 100px;
	padding-right: 100px;

}

h3 {

	font-size: 36px;
	font-family: "Courier New";
	color: #708090;

}

p {

	font-size: 24px;
	font-family: "Courier New";
	color: #708090;

}

ul {

	font-size: 24px;
	font-family: "Courier New";
	color: #708090;

}