/* styling for top-of-page titles */
h1 {

	background-color: #E6E6FA;
	text-align: center;
	font-size: 56px;
	font-family: "Courier New";
	color: #708090;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 100px;
	padding-right: 100px;

}

/* link styling */
h2 {

	text-align: center;
	font-size: 30px;
	font-family: "Courier New";
	color: #708090;

}

/* bio text style */
p {

	text-align: center;
	font-size: 24px;
	font-family: "Courier New";
	color: #708090;
	margin-left: 50px;
	margin-right: 50px;

}

#homepage {

	text-align: center;
	font-size: 30px;
	font-family: "Courier New";
	color: #708090;
	display: block;
	margin: auto;

}

a:link, a:visited {

	color: #708090;

}

a:hover {

	color: #E6E6FA;

}
